/*
Reseting the css
*/

*, *::before, *::after{
    box-sizing: border-box;
}

*{
    margin:0;
    padding: 0;
    font: inherit;
}

body{
    min-height: 100vh;
}

img, picture, svg, video{
    display: block;
    max-width: 100%;
}

:root {
    --color-primary: rgb(217, 235, 242);
    --color-secondary: rgb(13, 31, 38);
    --color-tertiary: hsl(257, 80%, 20%);
    --color-accent: hsl(137, 80%, 20%);
}

/*
Reseting the css
*/
@keyframes fade-down {
    0% {
        opacity: 0;
        transform: translateY(0px) scale(0.9);
    }
    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}

body{
    background-color: var(--color-primary);
}

@font-face {
    font-family: SpaceGrotesk;
    src: url(fonts/SpaceGrotesk-Bold.ttf) format('truetype');
}
@font-face {
    font-family: Inter;
    src: url(fonts/Inter-VariableFont_opsz\,wght.ttf) format('truetype');
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh; /* Full viewport height */
}

.index_navbar{
    background-color: var(--color-secondary);
}

/* Nav bar */ 

.index_nav_logo{
    width: 10rem;
    height: auto;
    padding-left: 6rem;
    
}

.index_navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.index_nav_list_logo{
    display:inline-flex;
    list-style: none;
    font-size: 2rem;
    align-items: center;
    
}

.index_nav_list{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-right: 6rem;
    font-size:  1.5rem;
}

.span_logo{
    font-family: SpaceGrotesk;
    font-size: 2rem;
}

#index_nav_list_element_yourlist:hover{
    background-color: hsla(197, 49%, 90%, 0.893);
    color: var(--color-secondary);
}

.index_nav_list_elements{
    font-family: Inter;
    color: var(--color-primary);
    text-decoration: none;
    padding: 0.75rem;
    border-radius: 6px;
    transition: background-color 0.5s;  
    
}
#index_nav_list_element_yourlist{
    margin: 0.75rem;
}

/* Nav bar */

.container {
    display: flex;
    flex-direction: column;
    width: 50%;
    max-width: 24rem;
    padding: 1.25rem;
    border: 0.10rem solid var(--color-secondary);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.5);
    background-color: rgb(160, 203, 220);
    border-radius: 8px;
    animation: fade-down 1s
}

.logo_header{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: row;
    margin-bottom: 2rem;
}

.login_box_animation, .login_box{
    opacity: 0;
    animation: fade-down 1s ease-in-out 0.75s forwards;
}

.login_data .userIcon {
    font-size: 1.5rem; /* Aumenta o tamanho dos ícones */
}

.login_noAcc{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: Inter;
}

.login_button{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#login_button_id{
    font-family: Inter;
    margin-top: 0.25rem;
    padding: 0.25rem;
    width: 40%;
    border: 2px solid;
    border-radius: 32px;
    color: var(--color-primary);
    background-color: var(--color-tertiary);
    border-color: var(--color-tertiary);
    transition: 0.5s;
}

#login_text{
    font-family: Inter;
    font-size: 2rem;
    color: var(--color-secondary);
}

#logoimg{
    width: 4rem;
    height: auto;
    
}

#span_nameLogo{
    font-family: SpaceGrotesk;
    font-size: 1.75rem;
}

#login_button_id:hover{
    background-color: var(--color-primary);
    color:var(--color-secondary);
    border-color: var(--color-tertiary);
    cursor: pointer;
}


